:root {
    --poke-blue: #3B4CCA;
    --poke-yellow: #FFDE00;
    --poke-red: #FF0000;
    --poke-deep-red: #CC0000;
    --poke-gold: #B3A125;
    --bug-color: #A8B820;																							
    --dark-color: #705848;																							
    --dragon-color: #7038F8;																							
    --electric-color: #F8D030;																																													
    --fairy-color: #EE99AC;																							
    --fighting-color: #C03028;																							
    --fire-color: #F08030;																							
    --flying-color: #A890F0;																							
    --ghost-color: #705898;																							
    --grass-color: #78C850;																							
    --ground-color: #E0C068;																							
    --ice-color: #98D8D8;																							
    --normal-color: #A8A878;																							
    --poison-color: #A040A0;																							
    --psychic-color: #F85888;																							
    --rock-color: #B8A038;																							
    --steel-color: #B8B8D0;																							
    --water-color: #6890F0;																							
  }

.pokemon-list {
    height: 600px;
    width: 200px;
    overflow-y: scroll;
    border: 2px ridge black;
    box-shadow: 5px 15px 15px whitesmoke;
}

.pokemon-list-item {
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 150px;
}

.pokemon-list-item:hover {
    color: var(--poke-blue);
    text-decoration: underline;
}


.pokemon-container {
    position: absolute;
    top: 5px;
    left: 300px;
    height: 700px;
    width: 800px;
    border: 2px ridge black;
    box-shadow: 15px 15px 15px whitesmoke;
}

.pokemon-img {
    height: 200px;
    width: 200px;
    border: 1px ridge black;
    margin-top: 5px;
    margin-left: 5px;
}

.basic-info {
    position: absolute;
    top: 5px;
    left: 215px;
}

.games {
    margin-left: 5px;
    height: 400px;
    overflow-y: scroll;
}